body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #d5d5f8;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #000000;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background: #92d8b2;
    margin-bottom: 5px;
    border: 1px solid #000000;
}
